/* Asteroid Styles */
#asteroid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#asteroid img {
    position: fixed;
    top: 15%;
}

#asteroid img:active {
    transform: translateY(5px);
}