/* Upgrade Styles */
/* ## Upgrade Bar ## */
.upgradesPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
    height: 525px;
    margin-left: 15px;
    background-color: rgb(146, 146, 146);
    font-size: 1.25rem;
    border-radius: 10px;
}

#upgradeSection {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: lightgray;
        width: 95%;
        height: 100px;
        border-radius: 10px;
        cursor: pointer;
        margin: 5px;
    }

.upgradesPanel img {
        width: 75px;
        height: 50px;
    }

.upgradeImgTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 120px;
        font-size: 1rem;
    }

.upgradeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notAvailable {
    opacity: 30%;
    pointer-events: none;
}

.upgradesKey {
    display: flex;
    font-size: 0.8rem;
    

}
